<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Authorization by Shivam</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="https://github.com/shivam1097">Basic Auth by Shivam</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/views/faculty/facultyIndex.ejs">Faculty Login/SignUp <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link active " href="#">Student Login/SignUp</a>

            </div>
        </div> -->
    </nav>

    <% if(error && error.length >0 ){%>
        <div class="container">
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        </div>
        <% } %>
            <% if(success && success.length >0) {%>
                <div class="container">
                    <div class="alert alert-success" role="alert">
                        <%= success %>
                    </div>
                </div>
                <% } %>