<% include ../partials/header %>

    <h1> Welcome
        <%=currentUser%> as Faculty!
    </h1>

    <p>You can access this page only after successful authentication!</p>

    <button class="btn btn-success btn-lg"><a class="btn btn-success btn-lg" href="/faculty/logout"> Log Out</a></button>