
<!DOCTYPE html>
<html>
    <head>
        <title>RESULTS</title>
        <link rel="stylesheet" href="details.css" type="text/css" />
        
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        

    <div class="container">
    <% data["Search"].forEach(function(movie){ %>
        <div class="card f" id="card" style="width: 18rem;">
            <img src=<%= movie.Poster %> class="card-img-top image" id="imgg" alt="Image Not Available !" onerror="this.src='https://www.glennpeterjewelers.com/static/images/temp-inventory-landing.jpg';">
            <div class="card-body">
              <h5 class="card-title">
                  
                  <%/* Setting the link for the clicked movie . /*%>
                  
                   <%/* link=`http://www.omdbapi.com/?i=${movie.imdbID}&apikey=thewdb`  */%>
                   
                   <% link=`/full_detail/${movie.imdbID}` %>
                  
                  
                  
                  <a href=<%= link %> id="title">
                  <%= movie.Title %></a>
              </h5>
              <p class="year"> <%= movie.Year %></p>
              <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
            </div>
          </div>
     <% }); %> 
     </div>


    </body>
    <script src="full_detail.js"></script>
</html>