



<!DOCTYPE html>
<html>
    <head>
        <title>RESULTS</title>
        <link rel="stylesheet" href="details.css" type="text/css" />

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        

    <div class="container">
    <% data["Search"].forEach(function(movie){ %>
        <div class="card f" style="width: 18rem;">
            <img src=<%= movie.Poster %> class="card-img-top image" alt="...">
            <div class="card-body">
              <h5 class="card-title">
                  <a href="/full_detail">
                  <%= movie.Title %></a>
              </h5>
              <p class="card-text"> <%= movie.Year %></p>
              <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
            </div>
          </div>
     <% }); %> 
     </div>

    </body>
</html>