<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MOVIE WIKI</title>
    <link rel="stylesheet" href="/home.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

 
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

</head>
<body>

<h1 class="display-2 text-center bg-info py-3 border-bottom">Movie <span style="color: #222222;">Wiki</span></h1>

<div class="container">
    <div class="row justify-content-center align-content-center" id="s" >
         <form action="/result" method="GET">
            <input class="form-control mr-sm-2 d-inline" type="text" id="search_text_input" placeholder="Ask wiki !" name="search">
            <a href="#" id="link"><button class="btn btn-success" type="submit" id="b">SEARCH</button></a>
        </form>
    </div>
</div>


</body>
</html>