body{
    background-image: url("https://hdqwalls.com/download/dark-grey-abstract-shapes-4k-pi-1920x1080.jpg");
    background-repeat: repeat;
}
.f{
    margin-left: 5%;
    margin-top: 10%;
    float: left;
      height: 550px;
}
.image{
    height:400px;
}
.card-body{
    background:#222222;
}
#title{
    font-family: 'Montserrat', sans-serif;
    color:white;
}
.card-text{
    color: white;
    text-align: bottom;
}