body{
    background-image: url("https://hdqwalls.com/download/dark-grey-abstract-shapes-4k-pi-1920x1080.jpg");
    /*background:url("https://hdqwalls.com/download/dark-3d-shapes-floor-4a-1366x768.jpg");*/
    background-repeat: repeat;
}
.f{
    margin-left: 5%;
    margin-top: 10%;
    float: left;
      height: 550px;
}
.image{
    height:400px;
}
.card-body{
    background-color: rgba(0, 0, 0, 0.3);
}
#title{
    font-family: 'Montserrat', sans-serif;
    color:white;
    text-transform: uppercase;
    letter-spacing:2px;
    word-spacing: 5px;
}
.year{
    color: white;
    letter-spacing:3px;
    
}
#card{
    background-color: rgba(0, 0, 0, 0.0);
}