.custom{
    margin-top: 5%;
}
body{
    background-image: url("https://hdqwalls.com/download/dark-grey-abstract-shapes-4k-pi-1920x1080.jpg");
    background-repeat: repeat;

}
.display-4{
    margin-top:0;
    padding-top=1%;
}
#j {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
     background-color: rgba(0, 0, 0, 0.3); 
    border-radius: .3rem;
}
#title{
    color:#c2c2c2;
    padding: 20px 20px;
    background-color: rgba(0, 0, 0, 0.3);
    text-align:center;
    text-transform:uppercase;
    letter-spacing:3px;
    word-spacing:6px;
}

ul{
    list-style: none;  /*  Removing list bullets */
    padding-left:0;
    
}
li{
    margin-top:2%;
}

#heading{
   
    font-size: 1.5rem;
    padding: 1% 1%;
    line-height: 1.5;
    color:#a0a1a1;
    font-family: 'Raleway', sans-serif;
    background-color: rgba(0, 0, 0, 0.3);
    /*border-radius: 50%;*/

}

#detail{
     line-height: 1.5;
     font-family: 'Raleway', sans-serif;
     color:#a0a1a1;
     padding-left:2%;
     
}