<% include ../partials/header %>

    <h1> Welcome
        <%=currentUser.name%> as Student!
    </h1>

    <p>You can access this page only after successful authentication!</p>

    <p> Your session will be deleted once you close the browser.</p>

    <button class="btn btn-success btn-lg"><a class="btn btn-success btn-lg" href="/student/logout"> Log Out</a></button>