<% include ./partials/header %>


    <div class="container mt-5">
        <div class="row d-flex justify-content-around">
            <div class="col-6  ">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Student SignUp</h5>
                        <p class="card-text">Students register here.</p>
                        <a href="/student/signup" class="btn btn-primary">SignUp</a>
                    </div>
                </div>
            </div>

            <div class="col-6 justify-content-between">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Faculty SignUp</h5>
                        <p class="card-text">Faculty register here.</p>
                        <a href="/faculty/signup" class="btn btn-primary">SignUp</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row d-flex justify-content-around">
            <div class="col-6  ">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Student Login</h5>
                        <p class="card-text">Student login here.</p>
                        <a href="/student/login" class="btn btn-primary">Log In</a>
                    </div>
                </div>
            </div>

            <div class="col-6  ">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Faculty Login</h5>
                        <p class="card-text">Faculty login here.</p>
                        <a href="/faculty/login" class="btn btn-primary">Log In</a>
                    </div>
                </div>
            </div>
        </div>
    </div>