<% include partials/header %>


<h1> ------  -------- Posts from verified authors -------- -------- </h1>



<% posts_details.forEach(function(post){  %> 
    <li>
        <%= post.title %> - <em><%= post.author%></em>
    </li>
<% }) %>


<% include partials/footer %>